@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap"); 
* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
section,footer{
    margin: 1rem;
    scroll-margin-top: 9rem;
}

nav{
    display: flex;
    flex-direction: column;
    background-image: url(./images/gate.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}
nav a{
    width: 80%;
    background-color:lightgreen;
    margin: 10px auto;
    padding: .5rem;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
nav a:visited{
    color:black
}

h1,
h3,
p{
    font-family: "Alkatra",cursive;
    text-shadow: 3px 3px 3px white;
}
h1,h3{
    text-align: center;
    
}
.images{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;

}
.picture1{
    background-image: url(./images/fuji.jpg);
    width: 300px;
    height: 300px;
   margin: 1rem;
}
.two{
    background-color: #fee4c3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
   padding: 10px;
   border-radius: 8px;

}
.three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.picture3{
    background-image: url(./images/ryutaro.jpg);
    width: 300px;
    height: 300px;
    margin: 1rem;
}
.four .galerie{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.picture4klein{
    background-image: url(./images/ricardo.jpg);
    width: 100px;
    height: 100px;
    margin: 1rem ;
}
.picture4gross{
    background-image: url(./images/nightlife.jpg);
    width: 300px;
    height: 300px;
    margin: 1rem ;
}
footer{

    background-color: #fee4c3;
    padding: 0.5rem;
    border-radius: 1rem;
}


 @media only screen and (min-width: 768px) {
    body{
        background-color: silver;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    nav a{
        margin-right: 1rem;
        width: 20%;
        padding: 5px;
    }
    nav h1{
        margin-left: 1rem;
    }
    .three{
       
        flex-direction: row;
        justify-content: space-around;
        
    }

    .picture3{
        margin-left: 25px;
        
        
    }
    .three p{
        width: 30%;
        text-align: justify;
        
    }

    .four .galerie{
        flex-direction: row;
        justify-content: space-around;
    }
 

  
} 
